body{
    background-color: #444;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    display: block;
    color: white;
}