body {
  background-color: rgb(68, 68, 73);
}
h1::after {
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background: green;
}
/*  */
li {
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  align-items: center;
}
li::before {
  display: inline-block;
  content: "";
  background-image: linear-gradient(green, black);
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid black;
}
